:root {
    --clr-primary-1: hsl(263, 55%, 52%);
    --clr-primary-2: hsl(217, 19%, 35%);
    --clr-primary-3: hsl(219, 29%, 14%);
    --clr-primary-4: hsl(0, 0%, 100%);
    --clr-secondary: hsl(210, 46%, 95%);
    --clr-secondary-box-shadow: hsl(217 19% 35% / 0.2474);
}