@use '../global/functions' as *;

/* Layout General style */
.testimonials__info {
    display: flex;
    flex-direction: column;
}

/* Layout General style */
.testimonials__header {
    display: flex;
    align-items: center;
    gap: rem(17);
    margin-bottom: rem(2);
}

/* Layout Variable spacing */
.testimonials__card {
    display: flex;
    flex-direction: column;
    gap: rem(16);
}
.testimonials {
    
    &__card-1 {
        grid-area: c1;
    }
    
    &__card-2 {
       grid-area: c2;
    }
    
    &__card-3 {
       grid-area: c3;
    }
    
    &__card-4 {
       grid-area: c4;
    }
    
    &__card-5 {
       grid-area: c5;
    }
}

.testimonials {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'c1'
    'c2'
    'c3'
    'c4'
    'c5';
    row-gap: rem(24);
    column-gap: rem(30);
    
    @media (width > em(520)) {
        
        grid-template-areas: 
        'c1 c1'
        'c2 c3'
        'c4 c4' 
        'c5 c5';
        
        &__summary-1 {
            margin-block-end: 0;
        }

        &__summary-3 {
            margin-block-end: rem(8);
        }
        
        &__summary-4 {
            margin-block-end: rem(8);
        }

        &__summary-5 {
            margin-block-end: rem(8);
        }
        
        &__card-3 {
            padding-block-end: 26px;
        }
        
        &__card-4 {
            padding-block-end: 26px;
        }
        
        &__card-5 {
            padding-block-end: 26px;
        }
    }

    @media (width > em(610)) {
        
        grid-template-areas: 
        'c1 c1'
        'c2 c5'
        'c3 c5' 
        'c4 c4';
    }

    @media (width > em(860)) {
        
        grid-template-areas: 
        'c1 c1 c2'
        'c3 c4 c4'
        'c5 c5 c5';
    }

    @media (width > em(1200)) {

        grid-template-columns: repeat(4, rem(255));
        grid-template-areas: 
        'c1 c1 c2 c5'
        'c3 c4 c4 c5';
        padding: 0px;
        
        &__quote-1 {
            padding-inline-end: 0;
        }
    }
    
}

main {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}